html body div.cky-btn-revisit-wrapper.cky-revisit-bottom-left {
    background-color: #D5D5D5 !important;
}

html body button.cky-btn-accept {
    background-color: #D5D5D5 !important;
    color: #212121 !important;
    border-color: #D5D5D5 !important;
}

html body button.cky-btn-reject,
html body button.cky-btn-customize,
html body button.cky-btn.cky-btn-preferences {
    border-color: #D5D5D5 !important;
    color: #212121 !important;
}