body {
  font-family: "DM Sans", system-ui;
  color: getColor('primary');
  font-size: $fontSizeNormal;
  background-color: getColor('secondary');
  overflow-x: hidden;
}

.container {
  max-width: 390px;
  margin: 0 auto;

}

@media #{$tablet} {
  .container {
    max-width: 760px;
  }
}

@media #{$desktop} {
  .container {
    max-width: 1440px;
  }
}