header {
    background-color: getColor('secondary');
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2.16px;
    display: block;
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
        color: getColor("third");
    }

    &.active {
        color: getColor("third");

        &:hover,
        &:focus {
            cursor: context-menu;
        }
    }
}

.language {
    &--active {
        color: getColor("third");
        font-weight: 600;
    }
}

.header-buttons {
    display: flex;
    gap: 15px;
    align-items: center;
}


.menu {
    display: none;
}



.menu-open {
    background-color: transparent;
    border: none;

    &__icon {
        fill: getColor("primary");
    }
}

@media #{$tablet} {

    .header-container {
        flex-direction: column;
        padding: 10px 20px 20px 20px;
        gap: 15px;
    }

    .language {
        position: fixed;
        right: 20px;
        top: 10px;
    }

    .menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;


        &__item {
            font-size: $fontSizeSmall;
            color: getColor('primary');
            font-weight: 500;
            transition: color 0.3s ease-in-out;

            &:hover,
            &:focus {
                color: getColor("third");
            }

            &.active {
                color: getColor("third");

                &:hover a,
                &:focus a {
                    cursor: context-menu;
                }
            }
        }
    }


    .menu-open {
        display: none;
    }
}

@media #{$desktop} {

    .header-container {
        padding: 10px 210px 20px 210px;
    }

    .logo {
        font-size: 36px;
    }

    .menu {

        &__item {
            font-size: $fontSizeBig;
        }
    }

}