.mobil-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.5s ease-in-out, visibility 0.5s ease-in-out, opacity 0.5s ease-in-out;

  &__menu-close {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: transparent;
    border: none;

    &-icon {
      fill: getColor("primary");
    }
  }

  &__container {
    width: 100%;
    background: getColor("forth");
    padding: 10px 20px 20px 20px;
  }

  &__logo {
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2.16px;
    transition: color 0.3s ease-in-out;


    &:hover,
    &:focus {
      color: getColor("third");
    }

    &.active {
      color: getColor("third");

      &:hover,
      &:focus {
        cursor: context-menu;
      }
    }
  }
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100%;
  list-style: none;
  margin-top: 60px;

  &__link {
    color: getColor("primary");
    font-weight: 600;
    font-size: $fontSizeBig;
    transition: color 0.3s ease-in-out;

    &:hover,
    &:focus {
      color: getColor("third");
    }

    &.active {
      color: getColor("third");

      &:hover a,
      &:focus a {
        cursor: context-menu;
      }
    }

  }
}

.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}