$colors: (
  'primary': #110E0D,
  'secondary': #F9F6F5,
  'third': #9C760C,
  'forth': #D5D5D5,
);

@function getColor($key) {
  @return map-get($colors, $key);
}



$fontSizeBigger: 20px;
$fontSizeBig: 18px;
$fontSizeNormal: 16px;
$fontSizeSmall: 14px;
$fontSizeTitle: 42px;



$tablet: '(min-width: 768px)';
$desktop: '(min-width: 1440px)';