$colors: (
  'primary': #212121,
  'secondary': #767676,
  'third': #f5f4fa,
  'forth': #515151,

  'accentLight': #ffffff,
  'accentDark': #000000,
);

@function getColor($key) {
  @return map-get($colors, $key);
}

$fontFamilyMain: 'Lato', sans-serif;

$fontSizeBigger: 20px;
$fontSizeBig: 16px;
$fontSizeSmall: 14px;
$fontSizeTitle: 23px;



$tablet: '(min-width: 768px)';
$desktop: '(min-width: 1440px)';